<h1 class="center">What is this app?</h1>
<br><br>
<p>This application provides users with information about current environmental safety conditions at their location.</p>

<h2>Getting Started</h2>

<p>To begin, enter a zip code in the search box on the main page and click Go.</p>

<h2>Disclaimer</h2>

<p>This is a prototype application.  This application is solely for the purpose as a proof-of-concept.  It uses the <a href="http://www.epa.gov/enviro/web-services#hourlyzip">EPA EnviroFacts API</a> to retrieve UV light data and the  <a href="https://docs.airnowapi.org/webservices">EPA AirNow API</a> to retrieve air quality data.<p>

<p>See <a href="http://www.epa.gov/enviro/web-services#hourlyzip">www.epa.gov</a> and <a href="https://docs.airnowapi.org/webservices">docs.airnowapi.org</a> for more information.</p>

<!--
<h2>Github</h2>
<p>EPA-GO is open source and maintained on Github.</p>
<p><a class="btn btn-success" href="https://github.com/concept-plus/epa-go">View the project on Github</a></p>
-->