<div class="main-wrapper center" >
    <image class="header-logo" src="../images/epa.png"></image>
    
    <h1 class="lead epa-text">EPA related information for your outdoor safety.</h1>

    <form >
        <div class="row search-bar">
        <a id="help-main-page" onclick="return false" class="btn help-link" ng-click="toggleHelp()"><span class='sr-only'>Click to learn more about and navigate EPAGO.</span>About</a>
          <h4 form="zipsearch">Enter a zip code to see today's Air Quality Index (AQI) and UV index.</h4>
          <div class="input-group" id="search-box-container">
            <input type="number" id="search-box"  class="form-control large" placeholder="" ng-model="zipSearchString" maxlength="5">
            <span class="input-group-btn">
              <button type="submit" id="search-button" disabled class="btn btn-success" ng-click="submitSearch(zipSearchString)">Go</button>
             
                  <!--img img="glyphicon glyphicon-search" alt="Go: click to search medical device recalls."-->
                    <span class='sr-only'>Search</span>
                </button>
            </span>
          </div>
          <div class="alert alert-danger" role="alert" ng-show="invalid == true">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error: </span>
            Please enter a search value.
          </div>
        </div>

    </form>
    

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

</div>
